<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JQuery Slim -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom Style -->
    <style>
        #results{
            padding: 10px;
            border: 2px solid grey;
            border-radius: 5px;
        }
        .content {
            margin-top: 20px;
        }
        h5 {
            text-decoration-line: underline;
        }
    </style>

    <title>Results Page</title>

</head>

<body>
    @{
        <div class="container">
            <div class="row">
                <div class="col-12 text-center content">
                    <h1>Survey Results</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 content" id="results">
                    <div class="row">
                        <div class="col-12">
                            <h5>Submitted Info</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 offset-1">
                            <p>Name:</p>
                            <p>Dojo Location:</p>
                            <p>Favorite Language:</p>
                            <p>Comment:</p>
                        </div>
                        <div class="col-4 ">
                            <p>@ViewBag.Name</p>
                            <p>@ViewBag.Location</p>
                            <p>@ViewBag.Language</p>
                            <p>@ViewBag.Comment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>


</html>




